{% extends "layout.html" %}

{% block y %}

About Page

<div style="padding-top: 50px;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nam excepturi animi incidunt porro magni voluptatum.
    Facere, quidem tenetur! Ratione tempora quidem error, ducimus perspiciatis eveniet aspernatur inventore eos, aliquid
    at earum molestias ex alias omnis autem quaerat! Maiores delectus aliquid aperiam eligendi quam soluta
    necessitatibus nemo commodi dolorem. Expedita?
</div>

{% endblock %}